@import '~rfs/scss';

//Colors
$container-width: 100%;
$color-dark: #070606;
$color-green: #30bbad;
$color-white: #ffffff;
//Fonts
@font-face {
    font-family: 'DM Sans', sans-serif;
    @import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,500,500i,700,700i&display=swap');
}
//mixin variables

$min_width: 320px;
$max_width: 5120px;
$min_font: 13px;
$max_font: 18px;
$min_font_title: 20px;
$max_font_title: 35px;
$min_font_subtitle: 16px;
$max_font_subtitle: 28px;

$sm: 575.98px;
$md: 767.98px;
$lg: 991.98px;
$xl: 1199.98px;
$xxl: 1500px;
body{
    font-family: 'DM Sans', sans-serif;
    line-height: 22px;
    margin: 0px;
    color: $color-dark;
}

.line{
    height: 2px;
    padding-right: 8rem;
    background-color: $color-green;
}

h1{
    @include font-size(30px);
}
h2{
    @include font-size(20px);
}

.container-titulo{
    h1{
        @include font-size(40px);
    }
    h2{
        @include font-size(25px);
    }
}