@import '../../styles/mixin.scss';

.container-layout{
    min-height: 100vh;
    padding-top: 90px;
}

.hover-cursor{
    &:hover{
        cursor: pointer;
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banderin{
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    background: $color-green;
    position: sticky;
    max-width: 200px;
    bottom: 10vh;
    z-index: 1;
    color: $color-white;
    text-transform: uppercase;
    transition: all 0.5s;
    animation-name: fadeInLeft;
    animation-delay: 0.5s;
    animation-duration: 1s;
    &:hover{
        max-width: 250px;
        letter-spacing: 4px;
        transform: 5s;
        cursor: pointer;
    }
    @media (max-width: $md){
        z-index: 15;
        -webkit-clip-path: unset;
        clip-path: unset;
        top: unset;
        bottom: 0;
        width: 100vw;
    }
}

.link{
    color: $color-white;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
    &:hover{
        color: $color-white;
        letter-spacing: 5px;
        cursor: pointer;
        text-decoration: none;
    }
}

.text-title{
    color: $color-green;
}

.general-text{
    color: $color-green;
}

.redes-responsive{
    a{
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        &:not(:first-child){
            border-left: white solid 2px;
        }
    }
}

.container-arrow{
    position: absolute;
    top: 100px;
    left: 50px;
    color: $color-green;
    vertical-align: middle;
    img{
        margin-right: 8px;
    }
    &:hover{
        cursor: pointer;
    }
}
@include for-phone-only{
    .banderin{
        max-width: 100vw !important;
        animation-name: fadeIn!important;
    }
}
@include for-tablet {
    .banderin{
        max-width: 250px ;
    }
}