@import '../styles/mixin.scss';

.content{
    background-color: #fafafa;
    padding: 20px;
    .header{
        color: red
    }
    .error-message{
        color: gray;
        font-size: 20px ;
    }
}