@import '../../styles/mixin.scss';

.butttonResponsive{
    button{
        background-color: $color-white !important;
        color: $color-green !important;
        width: 100%;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
        margin-top: 15px;
        padding: 3%;
        -webkit-appearance: none;
        &:focus, &:active, &:hover, &:visited, &:focus-visible, &:checked, &::before, &::after, &::selection{
            -webkit-appearance: none;
            outline: none;
            box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1)!important;
        }
    }
    .card{
        border-radius: 0 !important;
        padding: 5%;
    }
}